<nav class="navbar" dir="rtl" [class.menu-open]="isMenuOpen">

  <a class="navbar-logo" routerLink="/index" (click)="closeMenu()">
    <img class="logo-img" src="mudrik.png" alt="مدرك" />
  </a>

  <ul class="navbar-links" [class.open]="isMenuOpen">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">
        الرئيسية
      </a>
    </li>
    <li>
      <a [routerLink]="['/']" fragment="why-choose-mudrik" (click)="closeMenu()">
        لماذا تختار مُدْرِك
      </a>
    </li>
    <li>
      <a [routerLink]="['/']" fragment="how-mudrick-work" (click)="closeMenu()">
        كيف نعمل
      </a>
    </li>
    <li>
      <a [routerLink]="['/']" fragment="for-parents" (click)="closeMenu()">
        لأولياء الأمور
      </a>
    </li>
  </ul>

  <div class="navbar-actions" [class.open]="isMenuOpen">
    <a class="btn-login" [routerLink]="['/auth/login-page']" (click)="closeMenu()">
      تسجيل الدخول
    </a>
    <a class="btn-start" [routerLink]="['/auth/register-page']" (click)="closeMenu()">
      ابدأ الآن
    </a>
  </div>

  <button class="menu-toggle" type="button" [attr.aria-expanded]="isMenuOpen" aria-label="فتح القائمة" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

</nav>